.digitinput{
    max-width: 50px !important;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#quinto {
	width: 13% !important;
	float: left;
    margin-left:7.5%;
}

#quinto:first-child{
	margin-left: 0 !important;
}

.section_zone{
	margin: 5px auto;
	width: 80%;   
	position: relative;
	overflow: auto;
	padding: 3px;
	/*text-align: center;
	/display: inline-block;
	/clear: both;
    background-color: #fff;
    border: 1px solid #000;
    /* change border to be inside the box 
    //box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;*/
}